<h1 class="animated fadeIn fast">Acerca de Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tempus erat. Phasellus at massa gravida, dictum ante ac, 
    ultricies ipsum. Proin congue elit non dui lacinia, nec ullamcorper lectus mattis. Integer mattis egestas imperdiet. Vivamus 
    in malesuada elit. Aenean pretium felis quis ultricies blandit. Pellentesque in dictum urna. Nulla facilisi. In libero nibh, 
    viverra sit amet volutpat in, ornare a tortor. Nunc convallis elit eget ante accumsan, id sodales ipsum vehicula. Nulla a 
    tincidunt lorem. Morbi eu mattis arcu. 
</p>