<div class="animated fadeIn">
    <h1> {{ heroe.nombre | uppercase }} <small> ({{ heroe.aparicion | date:'y' }}) </small></h1>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <img [src]="heroe.img" class="img-fluid" alt="">
            <br><br>
            <a [routerLink]="['/heroesFiltrados', '']" class="btn btn-outline-danger btn-block">Regresar</a>
        </div>
        <div class="col-md-8">
            <h3>{{ heroe.nombre }}</h3>
            <hr>
            <p>{{ heroe.bio }}</p>
            <div class="row">
                <div *ngIf="heroe.casa == 'DC'; then DC else Marvel"></div>
                <ng-template #DC><img class="img-logo" src="assets/img/dc.png" alt="DC"></ng-template>
                <ng-template #Marvel><img class="img-logo" src="assets/img/marvel.png" alt="Marvel"></ng-template>
            </div>
        </div>
    </div>
</div>